@import "./reset";
@import "./themes/light";
@import "./themes/dark";
@import "./variables/global";

.App {
    font: var(--font-m);
    background-color: var(--bg-color-primary);
    color: var(--primary-color);
    min-height: 100vh;

    display: flex;
    flex-flow: column nowrap;
    gap: var(--layout-spacing);
}

.content-wrapper {
    width: var(--layout-width);
    margin: 0 auto;
    min-height: calc( 100vh - var(--layout-calculated-top-padding));

    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    gap: var(--layout-spacing);
}

.content-page {
    flex-grow: 1;
}
