.ThemeSwitcher {
    color: var(--secondary-icon-color);
    height: var(--header-height);
    width: var(--header-height);
}

.themeSwitcherSVG {
    width: var(--theme-switcher-size);
    height: var(--theme-switcher-size);
}
