@use 'colors';
@use 'fonts';
@use 'layout';

:root {
    --header-height: 60px;
    --header-border-width: 1px;
    --header-controls-spacing: 30px;

    --logo-color: var(--primary-icon-color);

    --loader-color: var(--primary-icon-color);
    --loader-font-size: var(--font-size-l);
    --loader-icon-size: 100px;
    --loader-stroke-width: 4px;
    --loader-animation-speed: 2s;


    --error-message-color: red;
    --error-message-icon-size: 200px;
    --error-message-font-size: 40px;

    // // Deprecated
    // --logo-size: 40px;
    // --notification-button-size: 25px;
    // --profile-link-image-size: 35px;
    // --theme-switcher-size: 40px;
}
