.App.dark {
    --bg-color-primary: #141414;
    --bg-color-secondary: #222323;
    --bg-color-accent: #424242;

    --color-separator: #292929;
    --button-color-hover: rgba(255, 255, 255, 0.08); // white with 8% alpha

    --primary-color: #e1e3e6;
    --secondary-color: #828282;
}
