.Button {
    --default-button-bg-color: #00000022;

    cursor: pointer;

    @mixin buttonReset {
        border: none;
        outline: none;
        background: none;
    }

    @mixin buttonHover {
        &:hover {
            background-color: var(--button-bg-color, var(--default-button-bg-color));
        }
    }

    @mixin buttonActive {
        &.active {
            background-color: var(--button-bg-color, var(--default-button-bg-color));
        }
    }

    &.clear {
        @include buttonReset;
    }

    &.fill {
        @include buttonReset;
        @include buttonHover;
        @include buttonActive;
    }

    &.solid {
        @include buttonReset;
        @include buttonHover;
        @include buttonActive;

        border: var(--button-border, var(--default-button-border));
    }
}