.NotificationButton {
    color: var(--secondary-icon-color);
    height: var(--header-height);
    width: var(--header-height);
}

.notificationButtonSVG {
    width: var(--notification-button-size);
    height: var(--notification-button-size);
}
