.ProfileLink {
    // todo: Changed the width & height to be responsive. Decide if it is the way to go
    // height: var(--header-height);
    // padding: 0 10px;
    height: 100%;
    aspect-ratio: 1.44 / 1;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7%; // was 5px
}

.profileLinkImage {
    height: 70%;
    border-radius: 50%;
}

.profileLinkArrow {
    width: 16.67%;
    color: var(--secondary-icon-color);
}
